@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #f4f4f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
}

nav {
  display: none;
}
.contain {
  width: 75%;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
  grid-template-rows: repeat(4, 35vh);
  color: #fff;
  gap: 20px 0;
}

header {
  background: #2a2e45;
  grid-column: 1/2;
  grid-row: 1/5;
}
header .grid-box img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

header p {
  font-size: 1.3rem;
}
header h1,
img {
  line-height: 0.7in;
}
.fab,
.far {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 13px;
  background: #fff;
  color: #2a2e45;
  font-size: 1.6rem;
}
.icon a {
  color: #fff;
  padding-left: 7px;
}
header .icon,
p {
  padding-top: 23px;
}
header .icon01 {
  display: grid;
  padding-top: 1.6rem;
}

.icon01 a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 0.5in;
}
header button {
  background: #e1dd8f;
  color: #2a2e45;
  padding: 16px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border: #2a2e45;
  border-radius: 6px;
  text-transform: capitalize;
  margin-top: 2.1rem;
  cursor: pointer;
}

/* the title section */
main {
  background: #f4f4f4;
  grid-column: 2/6;
  grid-row: 1/2;
}
.main-container {
  width: 70%;
  margin: 0 auto;
  color: #000;
  text-align: center;
  line-height: 0.5in;
}

main h1 {
  padding-top: 2rem;
}

main .main-container form {
  margin-top: 1.6rem;
}
main .main-container input[type="email"] {
  width: 40%;
  padding: 17px 20px;
  border-radius: 7px;
  outline: none;
}
main .main-container input[type="submit"] {
  padding: 9px 37px;
  border-radius: 7px;
  font-size: 1.5rem;
  cursor: pointer;
  background: #2a2e45;
  color: #fff;
}

/*  */
section {
  grid-column: 2/6;
}
.section-container {
  width: 70%;
  margin: 0 auto;
  background: #2a2e45;
}

.section-container img,
.aside-container img,
.article-container img {
  float: left;
  width: 250px;
  height: 220px;
  padding-right: 20px;
}

/*  */
aside {
  grid-column: 2/6;
  /* grid-row: 2/3; */
}
.aside-container,
.article-container {
  width: 70%;
  margin: 0 auto;
  background: #2a2e45;
}

article {
  grid-column: 2/6;
}

/* utilities */
.grid-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #2a2e45;
  text-align: center;
}
